/* 8"""8                              eeeee  eeee  */
/* 8   8  eeee eeeee eeeee  eeeee     8   8     8  */
/* 82ee8e 8      8   8   8  8  82     82ee8     8  */
/* 82   8 82ee   82  8eee8e 8   8    82   82 eee8  */
/* 82   8 82     82  82   8 8   8    82   82 82    */
/* 82   8 82ee   82  82   8 82ee8    82eee82 82ee  */
/*                                                 */

/* @define-color selected-text #e97b3c;
@define-color text #f6dcac;
@define-color base #00172e;
@define-color border #134e5a;
@define-color foreground #f6dcac;
@define-color background #00172e; */

@define-color bg #00172e;
@define-color fg #f6dcac;
@define-color gray1 #028391;
@define-color gray2 #134e5a;
@define-color gray3 #faa968;
@define-color gray4 #e97b3c;
@define-color gray5 #3f8f8a;
@define-color fg_bright #f6dcac;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}

/*  ______   __       ______                                        */
/* /_____/\ /_/\     /_____/\                                       */
/* \:::_ \ \\:\ \    \:::_ \ \                                      */
/*  \:\ \ \ \\:\ \    \:\ \ \ \                                     */
/*   \:\ \ \ \\:\ \____\:\ \ \ \                                    */
/*    \:\_\ \ \\:\/___/\\:\/.:| |                                   */
/*  ___\_____\/_\_____\/ \____/_/  ______    _______   ______       */
/* /________/\/_____/\ /_______/\ /_____/\ /_______/\ /_____/\      */
/* \__.::.__\/\:::_ \ \\::: _  \ \\:::_ \ \\::: _  \ \\:::_ \ \     */
/*   /_\::\ \  \:\ \ \ \\::(_)  \/_\:\ \ \ \\::(_)  \/_\:\ \ \ \    */
/*   \:.\::\ \  \:\ \ \ \\::  _  \ \\:\ \ \ \\::  _  \ \\:\ \ \ \   */
/*    \: \  \ \  \:\_\ \ \\::(_)  \ \\:\_\ \ \\::(_)  \ \\:\_\ \ \  */
/*     \_____\/   \_____\/ \_______\/ \_____\/ \_______\/ \_____\/  */
/*                                                                  */
